body.youtube-magic-popup {
  $textColor: #f1f1f1;
  $warningColor: #f28c38;

  margin: 0;
  padding: 0.75rem;
  background-color: #0f0f0f;
  color: $textColor;
  font-family: "Roboto", Arial, sans-serif;

  button#toggle-filter {
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.4rem;
    background-color: #cc0000;
    transition: background-color 0.2s;
    color: $textColor;
    cursor: pointer;

    &:hover {
      background-color: #ff0000;
    }

    &:active {
      background-color: #b30000;
    }
  }

  #video-count,
  #hidden-video-count {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  #extension-should-not-run {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-style: italic;
    color: $warningColor;
  }

  .select-heading {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .select-list {
    margin-top: 0.5rem;
    padding: 0;
    list-style-type: none;
  }
}
