/* popup section */
body {
  margin: 0;
  padding: 0.75rem;
  background-color: #0f0f0f;
  color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
}

button#toggle-filter {
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #cc0000;
  transition: background-color 0.2s;
  color: #ffffff;
  cursor: pointer;
}

button#toggle-filter:hover {
  background-color: #ff0000;
}

button#toggle-filter:active {
  background-color: #b30000;
}

p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

p#video-count,
p#hidden-video-count {
  margin-top: 1rem;
  margin-bottom: 0;
  color: #aaaaaa;
}

p#extension-should-not-run {
  color: #f28c38;
  font-style: italic;
}

/* content section */
.numbered-video {
  position: relative; /* so a video-number shows within a video, on watch page */
}

.video-number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.08rem 0.4rem 0.1rem 0.3rem;
  border-bottom-right-radius: 0.4rem;
  font-size: 1.2rem;
  background-color: rgba(15, 15, 15, 0.7);
  color: #aaaaaa;
}
