.numbered-video {
  position: relative; /* so a video-number shows within a video, on watch page */
}

.video-number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.08rem 0.4rem 0.1rem 0.3rem;
  border-bottom-right-radius: 0.4rem;
  font-size: 1.2rem;
  background-color: rgba(15, 15, 15, 0.7);
  color: #aaaaaa;
}
